.chapter-header.pull-right
  .row
    .col-sm-5.col-md-4.pull-right
      = form_tag select_chapter_path, method: :get, class: "form-horizontal form-horizontal-chapter" do
        .row
          .col-md-7.col-sm-7{:class => pull_left_or_right()}
            .text-header{:class => pull_left_or_right()}
              = t :choose_book
            .text-header{:class => pull_left_or_right()}
              = select_tag 'choosen_book', options_for_select([["#{t :genesis}", 'genesis'], ["#{t :exodus}",'exodus'] ], @chapter ? @chapter.book : @portion.book), class: 'select-btn'
          .col-md-5.col-sm-4{:class => pull_left_or_right()}
            - if session[:locale] != 'en'             
              .text-header{:class => pull_left_or_right()}
                = t :choose_chapter
              .text-header{:class => pull_left_or_right()}
                = render partial: '/chapters/chapter_select', locals: {book: @chapter ? @chapter.book : @portion.book, chapter: @chapter ? @chapter.order : 1}
            - else
              .text-header{:class => pull_left_or_right()}
                = t :choose_chapter
              .text-header{:class => pull_left_or_right()}
                = render partial: '/chapters/chapter_select', locals: {book: @chapter ? @chapter.book : @portion.book, chapter: @chapter ? @chapter.order : 1}
      .visible-xs
        %br                      
    .col-sm-7.col-md-8.pull-right
      = form_tag select_portion_path, method: :get, class: "form-horizontal form-horizontal-chapter" do
        .text-header{:class => pull_left_or_right()}
          = t :choose_portion
        .text-header{:class => pull_left_or_right()}
          = select_tag 'choosen_portion', options_for_select(portions_for_select, @chapter ? Portion.first : @portion.slug), class: 'select-btn' ,onchange: 'this.form.submit()'