.panel-body
  .row
    .col-md-2.pull-right
      = link_to chapter_path(chapter) do
        = chapter.book
        %span
          = chapter.order
    .col-md-2.pull-right  
      %form.form-horizontal
        .form-group
          .row
            .col-xs-6
              = link_to chapter_path(chapter), method: :delete, :data => {:confirm => 'חשוב טוב!!! האם אתה בטוח שברצונך למחוק מרשם זה?'}, class: 'btn btn-remove' do
                מחק
                %i.fa.fa-remove          
            .col-xs-6
              = link_to edit_chapter_path(chapter), class: 'btn btn-update' do
                ערוך  
                %i.fa.fa-pencil-square-o             
