%header#header-area
  / Header Top Starts
  .header-top.navbar-fixed-top.hidden-xs
    .row
      .col-md-2.col-sm-1
        %ul.nav.navbar-nav.pull-left
          .btn-group
            %button.btn.btn-link.dropdown-toggle{"data-toggle" => "dropdown"}
              = t :language
              %i.fa.fa-caret-down
            %ul.dropdown-menu
              %li
                = link_to 'السموات', set_language_path(locale: 'ar'), remote: true
              %li
                = link_to 'עברית', set_language_path(locale: 'he'), remote: true
              %li
                = link_to 'English', set_language_path(locale: 'en'), remote: true       
      .col-md-7.col-sm-8
        .next-prev-btn-group 
          .row
            .col-md-4.pull-right
              .pull-right        
                = link_to chapter_path(@chapter.prev) do
                  = t :prev_chapter
                  %i.fa.fa-arrow-right
            .col-md-4.pull-right      
              .chapter-title
                = t @chapter.book.to_sym 
                %span - #{@chapter.order.to_s}            
            .col-md-4.pull-right 
              .pull-left    
                = link_to chapter_path(@chapter.next) do
                  %i.fa.fa-arrow-left  
                  = t :next_chapter             
      .col-md-3.col-sm-3
        = form_tag select_chapter_path, method: :get, class: "form-horizontal" do
          .row
            .col-md-1.col-sm-2{:class => pull_left_or_right()}
            .col-md-5.col-sm-5{:class => pull_left_or_right()}
              .row
                .col-md-4.col-ms-5.hidden-sm{:class => pull_left_or_right()}
                  = t :choose_book
                .col-md-8.col-sm-12{:class => pull_left_or_right()}
                  = select_tag 'choosen_book', options_for_select([["#{t :genesis}", 'genesis'], ["#{t :exodus}",'exodus'] ], @chapter.book)
            .col-md-4.col-sm-4{:class => pull_left_or_right()}
              .row           
                .col-md-6.col-ms-6.hidden-sm{:class => pull_left_or_right()}
                  = t :choose_chapter
                .col-md-6.col-sm-12{:class => pull_left_or_right()}
                  = render partial: '/chapters/chapter_select', locals: {book: @chapter.book, chapter: @chapter.order}
  .header-top.navbar-fixed-top.visible-xs
    .row
      .col-xs-12
        .next-prev-btn-group 
          .row
            .col-xs-12.pull-right      
              .chapter-title
                = t @chapter.book.to_sym 
                %span - #{@chapter.order.to_s}  
            .col-xs-6.pull-right
              .pull-right        
                = link_to chapter_path(@chapter.prev) do
                  = t :prev_chapter
                  %i.fa.fa-arrow-right          
            .col-xs-6.pull-right 
              .pull-left    
                = link_to chapter_path(@chapter.next) do
                  %i.fa.fa-arrow-left  
                  = t :next_chapter  
  .visible-xs
    %br
    %br
    %br
    %br
    .row
      .col-xs-8.pull-right
        .btn-group
          = form_tag select_chapter_path, method: :get, class: "form-horizontal" do
            .row
              .col-xs-8{:class => pull_left_or_right()}
                = select_tag 'choosen_book', options_for_select([["#{t :genesis}", 'genesis'], ["#{t :exodus}",'exodus'] ], @chapter.book)
              .col-xs-4
                = render partial: '/chapters/chapter_select', locals: {book: @chapter.book, chapter: @chapter.order}
      .col-xs-4.pull-right
        .btn-group
          %button.btn.btn-link.dropdown-toggle{"data-toggle" => "dropdown"}
            = t :language
            %i.fa.fa-caret-down
          %ul.dropdown-menu
            %li
              = link_to 'السموات', set_language_path(locale: 'ar'), remote: true
            %li
              = link_to 'עברית', set_language_path(locale: 'he'), remote: true
            %li
              = link_to 'English', set_language_path(locale: 'en'), remote: true         
  %br
  %br
.content-box
  .row
    .col-sm-4.pull-right
      %br
      %br
      %br
      .visible-sm
        %br
      .row
        .col-md-6.pull-right
          .title
            نور #{display_book_name(@chapter.book, 'arabic')} - نور #{@chapter.order}
        .col-md-6.pull-right
          .audio
            - if false
              //%audio{:controls => "", :src => @chapter.audio_arabic, :type => "audio/mpeg"}
              %audio{:controls => "", :src => "/assets/audio/Maya - Are U with me.mp3", :type => "audio/mpeg"}
                Your browser does not support the audio element.
      - @chapter.ordered_sentences.each do |sentence|
        .sentence{:class => calculate_sentence_height(sentence)}
          #{sentence.order.to_s}. #{sentence.arabic}
    .col-sm-4.pull-right
      %br
      %br
      %br
      .visible-sm
        .text-paddind-sm      
      .row
        .col-md-8.pull-right
          .title
            ספר #{display_book_name(@chapter.book, 'hebrow')} - פרק #{@chapter.order}
        .col-md-4.pull-right
          .audio
            = link_to @chapter.audio_hebrow, target: '_blank' do
              %i.fa.fa-volume-up          
            - if false
              //%audio{:controls => "", :src => @chapter.audio_arabic, :type => "audio/mpeg"}
              %audio{:controls => "", :src => "/assets/audio/Maya - Are U with me.mp3", :type => "audio/mpeg"}
                Your browser does not support the audio element.
      - @chapter.ordered_sentences.each do |sentence|
        .sentence{:class => calculate_sentence_height(sentence)}
          #{sentence.order.to_s}. #{sentence.hebrow}    
    .col-sm-4.pull-right
      / Tabs Starts
      .tabs-panel
        / Nav Tabs Starts
        %ul.nav.nav-tabs
          %li.active
            %a{:href => "#tab-aramic", "data-toggle" => "tab"} ארמית          
          %li
            %a{:href => "#tab-english", "data-toggle" => "tab"} English  
          %li
            %a{:href => "#tab-interpretation", "data-toggle" => "tab"} פירוש           
        / Nav Tabs Ends
        / Tab Content Starts
        .tab-content.clearfix
          / Aramic Starts
          #tab-aramic.tab-pane.active
            .title
              ספר #{display_book_name(@chapter.book, 'hebrow')} - פרק #{@chapter.order}
            - @chapter.ordered_sentences.each do |sentence|
              .sentence{:class => calculate_sentence_height(sentence)}
                #{sentence.order.to_s}. #{sentence.aramic}          
          / Aramic End           
          / English Starts
          #tab-english.tab-pane
            .title.english
              Book of #{display_book_name(@chapter.book, 'english')} - Chapter #{@chapter.order}            
            .english.small-font
              - @chapter.ordered_sentences.each do |sentence|
                .sentence{:class => calculate_sentence_height(sentence)}
                  #{sentence.order.to_s}. #{sentence.english}
          / English Ends
          / Interpretation start
          #tab-interpretation.tab-pane
            .audio
            = @chapter.meaning
          / Interpretation End
        / Tab Content Ends
      / Tabs Ends           
.pull-left
  .btn-group
    = link_to  set_download_variables_chapter_path(@chapter), remote: true, class: 'btn' do
      = t :download_vertion
%br      