= render 'shared/header', :chapters => true          
.content-box
  = render 'shared/text_header'
  %br
  .row.chapters
    .col-sm-4.col-md-4.pull-right
      %br
      %ul.nav.navbar-nav.next-prev-btn-group.hidden-xs
        %li
          = link_to portion_path(@portion.next) do  
            = t :next_portion 
            %i.fa.fa-arrow-left       
        %li
          = link_to portion_path(@portion.prev) do
            %i.fa.fa-arrow-right
            = t :prev_portion                         
      %br
      %br
      .visible-sm
        %br
      .small-title
        الترجمة من أسفار موسى الخمسة وفقا ل
        %spen
          = link_to 'كمان', 'http://unbound.biola.edu', target: :_blank      
      .portion-title
        = @portion.arabic_name
      - @portion.ordered_sentences.each do |sentence|
        .sentence{:class => calculate_sentence_height(sentence)}
          #{sentence.order.to_s}. #{sentence.arabic}
      %ul.nav.navbar-nav.next-prev-btn-group.hidden-xs
        %li
          = link_to portion_path(@portion.next) do  
            = t :next_portion 
            %i.fa.fa-arrow-left       
        %li
          = link_to portion_path(@portion.prev) do
            %i.fa.fa-arrow-right
            = t :prev_portion        
    .col-sm-4.col-md-4.pull-right
      .hidden-xs
        %br
        %br
        %br
        .visible-sm
          %br      
      .small-title
        מחמש חומשי תורה אשר מיוחסים למשה - בעברית המקורית 
      .portion-title
        = @portion.hebrow_name
      - @portion.ordered_sentences.each do |sentence|
        .sentence{:class => calculate_sentence_height(sentence)}
          #{sentence.order.to_s}. #{sentence.hebrow}    
    .col-sm-4.col-md-4.pull-right
      / Tabs Starts
      .tabs-panel
        / Nav Tabs Starts
        %ul.nav.nav-tabs{:class => nav_tabs_english?()}
          %li.active
            %a{:href => "#tab-english", "data-toggle" => "tab"} 
              = t :english        
          %li
            %a{:href => "#tab-aramic", "data-toggle" => "tab"} 
              = t :aramic         
          %li
            %a{:href => "#tab-interpretation", "data-toggle" => "tab"} 
              = t :commentary
        / Nav Tabs Ends
        / Tab Content Starts
        .tab-content.clearfix
          / English Starts
          #tab-english.tab-pane.active
            .text-paddind-english
            .small-title-english.english
              Translation from the Five books of Moses according to: 
              %span 
                = link_to 'Mechon Mamre','http://www.mechon-mamre.org/', target: :_blank 
            .title.english
              = @portion.english_name            
            .english.small-font
              - @portion.ordered_sentences.each do |sentence|
                .sentence{:class => calculate_sentence_height(sentence)}
                  #{sentence.order.to_s}. #{sentence.english}
          / English Ends        
          / Aramic Starts
          #tab-aramic.tab-pane
            .text-paddind
            .small-title
              מחמש חומשי תורה אשר מיוחסים למשה - בעברית המקורית 
            .portion-title
              = @portion.hebrow_name
            - @portion.ordered_sentences.each do |sentence|
              .sentence{:class => calculate_sentence_height(sentence)}
                #{sentence.order.to_s}. #{sentence.aramic}          
          / Aramic End           
          / Interpretation start
          #tab-interpretation.tab-pane
            .audio
            = @portion.meaning
          / Interpretation End
        / Tab Content Ends
      / Tabs Ends           
  .pull-left
    .btn-group
      = link_to  set_download_variables_portion_path(@portion), remote: true, class: 'download-btn' do
        = t :download_version
  %br
  %br
%br     