!!! 5
%html{:dir => "rtl"}
  %head
    %meta{:charset => "utf-8"}/
    = wicked_pdf_stylesheet_link_tag "pdf"
    //= wicked_pdf_javascript_include_tag "number_pages"
    = javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js"
    = javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"
  %body{:onload => "number_pages"}
    #header
      = wicked_pdf_image_tag '/images/file-header.png', class: 'image'
      .header-content-div-header
        מורשת שמית | التراث سامية | Semitic Heritage
      .header-content-div-text 
        https://semitic-heritage.herokuapp.com/
    #content
      = yield