!!! 5
%html{:dir => "rtl"}
  %head
    %meta{:charset => "utf-8"}/
    = wicked_pdf_stylesheet_link_tag "pdf"
    //= wicked_pdf_javascript_include_tag "number_pages"
    = javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js"
    = javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"
  %body{:onload => "number_pages"}
    #header
      = wicked_pdf_image_tag '/images/file-header.png', class: 'image'
      .header-content-div-header-ar{:class => header_class_by_orientation(@orientation)}
        التراث سامية
      .header-content-div-text-ar{:class => header_text_class_by_orientation(@orientation)}
        التراث سامية لل سامية بيولبي في اراضي سامية
      .header-content-div-header-he{:class => header_class_by_orientation(@orientation)}
        מורשת שם
      .header-content-div-text-he{:class => header_text_class_by_orientation(@orientation)}
        מורשת שם
        %br
        לבני שם 
        %br
        בארצות שם  
      .header-content-div-header-en{:class => header_class_by_orientation(@orientation)}
        Semitic Heritage
      .header-content-div-text-en.english{:class => header_text_class_by_orientation(@orientation)} 
        Semitic Heritage 
        %br
        for Semitic Peolpe 
        %br
        in Semitic Lands
    #content
      = yield